h1{
  text-align: center;
  font-family: 'Ranchers', cursive;
  font-size: 10rem;
  color: #206a5d;
}
body{
  background-color: #1f4068;
}
.div1{
  position: relative;
  padding-top: 10rem;
  padding-bottom: 10rem;
  }
.img1{
position: absolute;
left: 23rem;
}
.img2{
  position: absolute;
  right: 23rem;
  text-align: right;
}
#p1{
  font-family: 'Ranchers', cursive;
  font-size: 3rem;
  color: #206a5d;
  margin-left: 23rem;
  position: absolute;
}
#p2{
  font-family: 'Ranchers', cursive;
  font-size: 3rem;
  color: #206a5d;
  right:  23rem;
  position: relative;
  text-align: right;
}
.div2{
  text-align: center;
  padding-top: 10rem;

}
